@use "../../scss/variables.scss" as *;

.navbar {

    display: flex;
    gap: 4rem;
    align-items: center;
    color: $color-primary;
    font-weight: 500;
    margin: 2.5rem 6.25rem 0;

    img {
        height: 3.9rem;
    }

    .link {
        font-size: 1.5rem;
    }

    @media screen and (width <=768px) {
        text-transform: uppercase;
        gap: 1rem;
        padding: 0;
        margin: 1.25rem 1.25rem 0;

        img {
            height: 3rem;
        }

        .link {
            font-size: .75rem;
        }
    }

    &>*:first-child {
        margin-right: auto;
    }

    & a {
        text-decoration: none;
        color: $color-primary;

        &.active,
        &:hover {
            text-decoration: underline;
        }
    }
}