@use "../scss/variables.scss" as *;

.error-page {
    color: $color-primary;
    text-align: center;

    h1 {
        font-size: 15rem;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    a {
        color: $color-primary;
    }
}