@use "../scss/variables.scss" as *;

.error-page {
    color: $color-primary;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10rem;

    h1 {
        font-size: 17rem;
        margin: 8rem auto 5rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 10rem;
    }

    a {
        color: $color-primary;
        font-size: 1.15rem;
    }

    @media screen and (width <=768px) {

        h1 {
            font-size: 6rem;
            margin-top: 10rem;
            margin-bottom: 0;
        }

        h2 {
            width: 300px;
            margin-inline: auto;
            font-size: 1.125rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }



    }
}