@use "../../scss/variables.scss" as *;

.description__panel {
    width: 85%;
    margin-bottom: 2rem;
    margin-inline: auto;
    flex-basis: 50%;
    overflow: hidden;

    @media screen and (width <=768px) {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    p {
        margin-block: 0;
    }

    .description__header {
        background-color: $color-primary;
        color: $color-tertiary;
        padding: .2em 1em;
        border-radius: .4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 1.5rem;
            cursor: pointer;
        }

        @media screen and (width <=768px) {
            font-size: 0.820rem;
            height: 1.9rem;

            i {
                font-size: 1.2rem;
            }
        }
    }

    .description__content {
        background-color: $gallery-background-dark;
        color: $color-primary;
        font-weight: 400;
        font-size: 1.125rem;
        padding: 2.5rem 1rem 1rem;
        border-radius: .7rem;
        position: relative;
        top: -2rem;
        z-index: -1;
        transition: transform .8s ease-in-out;

        li {
            list-style-type: none;

            @media screen and (width <=768px) {
                font-size: .75rem;
            }
        }

        &.hidden {
            transform: translateY(-100%);
            display: none;
        }

        &.visible {
            transform: translateY(0);
            margin-bottom: -2rem;
            height: 9rem;
        }
    }
}