.banner {
    width: 100%;

    min-height: 140px;

    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
}

.banner img {

    width: 100%;
    border-radius: 2rem;
    opacity: 1;
    border: 1px solid #f7f7f7;
}

.banner h2 {
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    font-size: 3rem;
}