@use "../scss/variables.scss" as *;

.banner {
    width: 98%;
    height: 223px;
    margin: auto auto 2rem;
    position: relative;
    display: grid;
    place-items: center;

    border-radius: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(./../assets/HomeBanner.png);
    background-size: cover;
    background-position: center;

    h2 {
        position: absolute;
        color: $color-tertiary;
        font-weight: 500;
        font-size: 3rem;
    }

    @media screen and (width <=768px) {
        height: 111px;
        border-radius: .65rem;
        margin-bottom: 1rem;

        h2 {
            font-size: 1.5rem;
            left: 0;
            width: 220px;
            padding-left: 1rem;
        }
    }

    &__about {
        width: 98%;
        height: 223px;
        position: relative;
        display: grid;
        place-items: center;
        margin: auto auto 2rem;
        border-radius: 2rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)), url(./../assets/about-banner.png);
        background-size: cover;
        background-position: center;

        @media screen and (width <=768px) {
            width: 100%;
            border-radius: 0.65rem;
        }
    }
}