.card {
    width: 30%;
    min-width: 200px;
    min-height: 200px;
    background-image: linear-gradient(to top, #863535, #ff6060);
    border-radius: 1rem;
    display: grid;
    align-items: end;
    flex-basis: 30%;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card__title {
    width: 25%;
    margin-inline-start: 1rem;
    margin-block-end: 1rem;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }
}