@use "../scss/variables.scss" as *;

.description__panel {
    margin-bottom: 1rem;
    flex-basis: 50%;
    overflow: hidden;

    p {
        margin-block: 0;
    }

    .description__header {
        background-color: $color-primary;
        color: $color-tertiary;
        padding: .2em 1em;
        border-radius: .7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 2rem;
            cursor: pointer;
        }
    }

    .description__content {
        background-color: $gallery-background-dark;
        padding: 2.5rem 1rem;
        border-radius: .7rem;
        position: relative;
        top: -2rem;
        z-index: -1;
        transition: transform .3s ease-in-out;

        li {
            list-style-type: none;
        }

        &.hidden {
            transform: translateY(-100%);
        }

        &.visible {
            transform: translateY(0);
        }
    }
}