@use "../scss/variables.scss" as *;

.gallery {
    background: $gallery-background-dark;
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;

    &>* {
        width: 100%;
        max-width: 20rem;
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        justify-content: center;
        background: $gallery-background-light;
        padding: 0;
        flex-direction: column;

    }
}