.gallery {
    background: #f7f7f7;
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem;
}

@media screen and (max-width: 768px) {
    .gallery {
        justify-content: center;
        background: #ffffff;
        padding: 0;
    }
}