.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    color: var(--primary-color);
}

.navbar__logo {
    margin-right: auto;
}

.navbar a {
    text-decoration: none;
    color: var(--primary-color);
}

.navbar a.active {
    text-decoration: underline;
}

.navbar a:hover {
    text-decoration: underline;
}