@use "../../scss/variables.scss" as *;

.gallery {
    width: 100%;
    background: $gallery-background-dark;
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .gallery {
        width: 100%;
        justify-content: center;
        background: $gallery-background-light;
        padding: 0;
        flex-direction: column;
    }
}