@use "../scss/variables.scss" as *;

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    color: $color-primary;
    font-weight: 500;

    @media screen and (width <=768px) {
        text-transform: uppercase;
    }

    &>*:first-child {
        margin-right: auto;
    }

    & a {
        text-decoration: none;
        color: $color-primary;

        &.active,
        &:hover {
            text-decoration: underline;
        }
    }
}